.m78-router-wrap {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: hidden;
}

.m78-router-page {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: auto;
  background-color: #f6f6f6;
  -webkit-overflow-scrolling: touch;
}

.m78-404-page {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgba(0,0,0,0.75);
  font-size: 14px;
}

.m78-404-page{
  color: rgba(0,0,0,0.75);
  background-color: #f6f6f6;
}

.m78-404-page_title {
  color: rgba(0,0,0,0.9);
}

.m78-404-page_url {
  margin: 12px 0 8px;
  color: rgba(0,0,0,0.45);
}

.m78-404-page_link {
  color: rgb(24, 144, 255);
}
